<div class="text-center">
  <h2>Details</h2>
</div>
<hr>
<div class="row text-center">
  <img src="{{recipe.imagepath}}" alt="" style="width: 400px;height: 200px">
</div>
<div class="row text-center">
  <h3>{{ recipe.name }}</h3>
</div>
<div class="row dropdown">

  <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>

      <a href="#">Add</a>
    </li>
    <li>
      <a href="#">delete</a>
    </li>
    <li>
      <a href="#" (click)="onAdd()">To shopping list</a>
    </li>


  </ul>
</div>
<div class="row">
  <h4>Description:</h4>
  <h5>{{recipe.desc}}</h5>
</div>
<div class="row">
  <h4>Ingrediants:</h4>
  <ul class="list-group" *ngFor="let ing of recipe.ingredients">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ing.name}}
      <span class="badge badge-primary badge-pill">{{ing.quantity}}</span>
    </li>
  </ul>
</div>